* {
  box-sizing: border-box;
}

.Centr {
  text-align: center;

}

nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-right: 42px;
}