* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

.main-section {
  background-color: #EEEFF1;
  padding-top: 79px;
  padding-bottom: 141px;
}

.head-nav {
  margin-bottom: 162px;
}

.links {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin-right: 42px;
}

.links:last-child {
  margin-right: 0px;
}

.links.main {
  color: #34547A;
  font-weight: 500;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin: 0px;
  margin-bottom: 60px;
}

.first-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin: 0px;
  margin-bottom: 65px;
  width: 540px;
}

.first-block button {
  background-color: #34547A;
  border: none;
  padding: 20px 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px;
}

button:hover {
  background-color: #FFFFFF;
  color: #34547A;
}

.second-block {
  padding-top: 112px;
  padding-bottom: 100px;
}

.info h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin: 0px;
  margin-bottom: 50px;
}

.info p {
  width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin: 0px;
  margin-right: auto;
  margin-left: auto;
}

.progect-cards {
  background-color: #34547A;
}

.progect-cards {
  padding-top: 103px;
  padding-bottom: 103px;
}

.element {
  display: inline-block;
  color: #FFFFFF;
  margin: 0px;
  margin-right: 49px;
  font-size: 0px;
}

.element img {
  margin: 0px;
  margin-right: 20px;
}

.element:last-child{
  margin-right: 0px;
}

.number-of {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.value {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0px;
}

.third-block {
  padding-top: 100px;
  padding-bottom: 100px; 
}

.third-block p {
  margin-bottom: 57px;
}

iframe {
  width: 1110px;
  height: 600px;
}

footer {
  background-color: #34547A;
}

.footer-info {
  padding-top: 50px;
  padding-bottom: 50px;
}

.autor {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 20px;
}

.quote {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0px;
}